<div class="wishlist-items clearfix">
  <% @items.each do |item| %>
  <div class="item grid_3">
    <div class="item-photo">
      <%= image_tag(item.photo.thumb.url) %>
    </div>
    <div class="item-details">
      <ul>
        <li><h2><%= link_to item.name, item.item_url %></h2></li>
        <li><%= number_to_currency(item.price) if item.price > 0 %></li>
        <li><%= item.note if item.note %></li>
        <li>Added <%= time_ago_in_words(item.created_at) %> ago</li>
        <%= delete_item_link(item) %>
      </ul>
    </div>
  </div>
  <% end %>
</div>
